html, body {
  height: 100%;
  overflow: hidden;
  font-family: 'Titillium Web', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;  /* Add this */
  justify-content: center;
  align-items: center;
  height: 100vh;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
}
